<ion-toolbar id="main-header" class="bg-dark ion-no-border">
  <ion-grid class="mt-header">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="2">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-col>
      <ion-col class="ion-text-center" color="light" size="8">
        <img src="../../../assets/images/logo_usina.png" class="img-logo">
      </ion-col>
      <ion-col size="2">
        <ion-button shape="round" color="dark" class="relative visibility button-notification shadow" id="open-modal">
          <ion-badge slot="end" shape="round" color="success" class="absolute badge-notification"></ion-badge>
          <ion-icon slot="icon-only" name="notifications" color="primary"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>
