<section class="info-user">
  <ion-card class="bg-dark ion-no-margin card-user">
    <ion-card-content>
      <div class="user ion-align-items-center d-flex">
        <ion-avatar class="avatar-user">
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <div class="info d-flex">
          <ion-text color="light">
            Leonardo Santos
          </ion-text>
          <ion-text color="secondary">
            Nível roxo
          </ion-text>
        </div>
      </div>

      <div class="d-flex ion-justify-content-center">
        <div
          class="mt ion-no-padding bg-dark-secondary actions d-flex ion-align-items-center ion-justify-content-between shadow">
          <ion-button class="btn-info ion-no-border" routerLink="/meu-corpo">
            <ion-text color="primary" class="ion-align-items-center d-flex ion-justify-content-center">
              <ion-icon name="accessibility"></ion-icon>
              Meu corpo
            </ion-text>
          </ion-button>
          <ion-button class="btn-info ion-no-border" routerLink="/objetivos">
            <ion-text color="primary" class="ion-align-items-center d-flex ion-justify-content-center">
              <ion-icon name="trophy" color="primary"></ion-icon>
              Objetivos e conquistas
            </ion-text>
          </ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</section>
